.b-application-betboom {
  margin: 0 auto;
  padding: 0 $apx-108;
  font-family: $font-default-betboom;
  font-size: $apx-14;
  line-height: $apx-16;
  font-weight: 400;
  text-align: center;
  color: $color-white;
  @include mobile {
    padding: 0;
    font-size: $apx-m-14;
    line-height: $apx-m-16;
  }
}
.b-application-betboom__wrp {
  width: $apx-375;
  margin: 0 auto;
  padding: $apx-20 $apx-20 $apx-34 $apx-20;
  background-color: $color-bg-card;
  border-radius: $apx-16 $apx-16 0 0;
  backdrop-filter: blur($apx-8);
  @include mobile {
    width: 100%;
    padding: $apx-m-20 $apx-m-20 $apx-m-34 $apx-m-20;
    border-radius: $apx-m-16 $apx-m-16 0 0;
    backdrop-filter: blur($apx-m-8);
  }
}
.b-application-betboom__suptitle {
  font-family: $font-additional-betboom;
  font-size: $apx-12;
  line-height: $apx-14;
  text-transform: uppercase;
  @include mobile {
    font-size: $apx-m-12;
    line-height: $apx-m-14;
  }
}
.b-application-betboom__title {
  margin-top: $apx-12;
  margin-bottom: 0;
  font-family: $font-title-betboom;
  font-size: $apx-48;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  span {
    color: $color-text-accent;
  }
  @include mobile {
    margin-top: $apx-m-12;
    font-size: $apx-m-48;
  }
}
.b-application-betboom__text {
  margin-top: $apx-12;
  @include mobile {
    margin-top: $apx-m-12;
  }
}
.b-application-betboom__form {
  display: block;
  margin-top: $apx-24;
  @include mobile {
    margin-top: $apx-m-24;
  }
}
.b-application-betboom__el {
  margin-bottom: $apx-12;
  @include mobile {
    margin-bottom: $apx-m-12;
  }
}
.b-application-betboom__submit {
  margin-top: $apx-16;
  @include mobile {
    margin-top: $apx-m-16;
  }
}
