.b-hero-betboom {
  position: relative;
  padding-top: $apx-270;
  @include mobile {
    padding-top: $apx-m-170;
  }
}
.b-hero-betboom__img {
  position: absolute;
  top: 0;
  left: 50%;
  width: $apx-588;
  height: auto;
  translate: -50% 0;
  @include mobile {
    left: 0;
    width: 100%;
    translate: 0;
  }
}
