include /elements/images

mixin block-footer({ className })
  footer.b-footer(class=className)
    -
      let ancors = [
        {
          id: "categories",
          text: "Номинации"
        },
        {
          id: "stages",
          text: "Этапы голосования"
        },
        {
          id: "sponsors",
          text: "Спонсоры"
        }
      ]
      let links = [
        {
          id: "#manifest",
          text: "О премии"
        },
        {
          id: "#",
          text: "Номинации"
        },
        {
          id: "#",
          text: "Прямая трансляция"
        }
      ]
    .b-footer__top
      +svg({
        name: "logo-blogema-footer",
        width: 337,
        height: 60,
        className: 'b-footer__logo'
      })
      .b-footer__content
        .b-footer__col
          .b-footer__col-title Быстрые ссылки
          ul.b-footer__list
            each it in ancors
              li #[a.b-footer__link(href=`#${it.id}`)=it.text]
        .b-footer__col
          .b-footer__col-title Разделы
          nav
            ul.b-footer__list
              each it in links
                li #[a.b-footer__link(href=`${it.id}`)=it.text]
    .b-footer__copywriting БЛОГЕМА©2024. Все права защищены.
