include /elements/images

mixin block-hero-betboom({ title, titleMobile, subtitle, text, className })
  .b-hero-betboom
    +picture({
      image: "/img/hero-betboom.jpg",
      className: "b-hero-betboom__img"
    })
