.b-experts {
  padding-top: $apx-60;
  padding-bottom: $apx-60;
  @include mobile {
    padding-top: $apx-m-60;
    padding-bottom: $apx-m-60;
  }
}
.b-experts__title {
  margin: 0;
  padding: 0 $padding;
  font-family: $font-title;
  font-size: $apx-80;
  line-height: $apx-96;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include mobile {
    padding: 0 $padding-mobile;
    font-size: $apx-m-36;
    line-height: $apx-m-43;
  }
}
.b-experts__slider {
  margin-top: $apx-40;
  .swiper-wrapper {
    /* stylelint-disable-next-line declaration-no-important */
    margin-left: $padding !important;
  }
  .swiper-slide {
    height: auto;
    max-width: max-content;
    &:not(:last-child) {
      margin-right: $apx-24;
    }
    &:last-child {
      margin-right: $padding * 2;
    }
  }
  @include mobile {
    margin-top: $apx-m-40;
    .swiper-wrapper {
      /* stylelint-disable-next-line declaration-no-important */
      margin-left: $padding-mobile !important;
    }
    .swiper-slide {
      &:not(:last-child) {
        margin-right: $apx-m-24;
      }
      &:last-child {
        margin-right: $padding-mobile * 2;
      }
    }
  }
}
