.b-faq {
  padding: $apx-106 $apx-108 $apx-200 $apx-108;
  @include mobile {
    padding: $apx-m-80 $apx-m-24 $apx-m-120 $apx-m-24;
  }
}
.b-faq__wrp {
  max-width: $apx-850;
  margin: 0 auto;
  @include mobile {
    max-width: none;
  }
}
.b-faq__title {
  margin: 0;
  font-family: $font-title;
  font-size: $apx-80;
  line-height: $apx-96;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  @include mobile {
    font-size: $apx-m-32;
    line-height: $apx-m-40;
  }
}
.b-faq__list {
  display: grid;
  gap: $apx-20;
  margin-top: $apx-48;
  @include mobile {
    gap: $apx-m-20;
    margin-top: $apx-m-40;
  }
}
