.b-header {
  min-height: $apx-119;
  padding: $apx-22 $apx-108;
  @include mobile {
    position: relative;
    z-index: 1;
    padding: $apx-m-16 $apx-m-12;
    &.open {
      .b-header__content {
        background-color: $color-black;
      }
      .b-header__menu {
        border-width: $apx-m-1;
        opacity: 1;
      }
      .b-header__burger {
        rotate: 45deg;
        &::before {
          top: 50%;
          left: 50%;
          width: $apx-m-27;
          transform: translate(-50%, -50%);
        }
        &::after {
          top: 50%;
          left: 50%;
          width: $apx-m-27;
          transform: rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
.b-header__content {
  @include transition(background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $apx-20;
  padding: $apx-11 $apx-39;
  border: $apx-1 solid $color-white;
  border-radius: $apx-40;
  @include mobile {
    gap: $apx-m-20;
    padding: $apx-m-5 $apx-m-23 $apx-m-5 $apx-m-11;
    border-width: $apx-m-1;
    border-radius: $apx-m-40;
  }
}
.b-header__logo {
  display: block;
  width: $apx-88;
  height: $apx-52;
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  @include mobile {
    position: relative;
    z-index: 1;
    width: $apx-m-64;
    height: $apx-m-38;
  }
}
.b-header__menu {
  @include mobile {
    position: absolute;
    top: $apx-m-16;
    left: $apx-m-12;
    z-index: -1;
    width: calc(100% - ($apx-m-12 * 2));
    height: $apx-m-50;
    overflow: hidden;
    background: color.adjust($color-black, $alpha: -0.2);
    border: 0 solid $color-white;
    border-radius: $apx-m-26;
    backdrop-filter: blur($apx-m-5);
    opacity: 0;
    transition:
      height 0.5s ease-in-out,
      border-width 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
}
.b-header__list {
  @include list-reset;
  display: flex;
  gap: $apx-24;
  @include mobile {
    display: grid;
    gap: 0;
    width: max-content;
    padding: $apx-m-144 $apx-m-48;
    & > * {
      border-bottom: $apx-m-1 solid color.adjust($color-white, $alpha: -0.8);
    }
    & > *:first-child {
      border-top: $apx-m-1 solid color.adjust($color-white, $alpha: -0.8);
    }
  }
}
.b-header__link {
  @include transition(text-decoration);
  font-size: $apx-18;
  line-height: $apx-21;
  color: $color-white;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    .b-header__link-text::after {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @include mobile {
    display: block;
    width: 100%;
    padding: $apx-m-32 0;
    font-family: $font-title;
    font-size: $apx-m-18;
    line-height: $apx-m-22;
    text-align: center;
  }
}
.b-header__link-text {
  position: relative;
  width: max-content;
  overflow: hidden;
  text-transform: uppercase;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $apx-1;
    background-color: currentcolor;
    transform: translateX(-100%);
    opacity: 0;
    transition:
      opacity 300ms,
      transform 300ms;
  }
  @include mobile {
    margin: 0 auto;
    &::after {
      height: $apx-m-1;
    }
  }
}
.b-header__burger {
  @include transition(rotate);
  display: none;
  @include mobile {
    position: relative;
    display: block;
    width: $apx-m-47;
    height: $apx-m-38;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: $apx-m-3;
      background-color: $color-white;
      border-radius: $apx-m-3;
    }
    &::before {
      transform: translateY(-$apx-m-5);
    }
    &::after {
      transform: translateY($apx-m-3);
    }
  }
}
