.b-hero {
  padding: $apx-400 $apx-108 $apx-332 $apx-108;
  @include mobile {
    padding: $apx-m-450 $apx-m-24 $apx-m-31 $apx-m-24;
  }
}
.b-hero__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $apx-40;
  width: 100%;
  @include mobile {
    display: grid;
    gap: $apx-m-16;
  }
}
.b-hero__contols {
  display: flex;
  flex-direction: column;
  gap: $apx-19;
  width: max-content;
  @include mobile {
    order: 1;
    gap: $apx-m-18;
    width: 100%;
  }
}
.b-hero__btn {
  @include transition(color, background-color);
  display: block;
  margin: 0;
  padding: $apx-24 $apx-50;
  font: inherit;
  font-size: $apx-24;
  line-height: $apx-29;
  color: $color-white;
  text-transform: uppercase;
  background-color: transparent;
  border: $apx-1 solid $color-white;
  border-radius: $apx-60;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    color: $color-black;
    background-color: $color-white;
  }
  &.white {
    color: $color-black;
    background-color: $color-white;
    &:hover,
    &:focus-visible {
      color: $color-white;
      background-color: transparent;
    }
  }
  @include mobile {
    width: 100%;
    padding: $apx-m-19 $apx-m-30;
    font-size: $apx-m-18;
    line-height: $apx-m-22;
    border-width: $apx-m-1;
    border-radius: $apx-m-40;
  }
}
.b-hero__info {
  text-align: right;
  text-transform: uppercase;
  @include mobile {
    text-align: left;
  }
}
.b-hero__date {
  display: grid;
  gap: $apx-16;
  font-family: $font-title;
  font-size: $apx-45;
  line-height: $apx-41;
  letter-spacing: 0.02em;
  @include mobile {
    gap: $apx-m-16;
    font-size: $apx-m-45;
    line-height: $apx-m-54;
  }
}
.b-hero__slogan {
  margin-top: $apx-16;
  font-size: $apx-24;
  line-height: $apx-29;
  font-weight: 300;
  @include mobile {
    margin-top: $apx-m-16;
    font-size: $apx-m-24;
    line-height: $apx-m-28;
  }
}
