.c-category {
  position: relative;
  display: flex;
  flex-direction: column;
  height: $apx-370;
  padding: $apx-18;
  overflow: hidden;
  font-family: $font-default;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  text-transform: uppercase;
  border: $apx-1 solid $color-white;
  border-radius: $apx-18;
  &[hidden] {
    display: none;
  }
  @include mobile {
    height: $apx-m-295;
    padding: $apx-m-15;
    border-width: $apx-m-1;
    border-radius: $apx-m-15;
  }
}
.c-category__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-category__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: $apx-16;
  line-height: $apx-19;
  svg {
    display: block;
    flex-shrink: 0;
    width: $apx-24;
    height: $apx-24;
  }
  @include mobile {
    font-size: $apx-m-13;
    line-height: $apx-m-15;
    svg {
      width: $apx-m-19;
      height: $apx-m-19;
    }
  }
}
.c-category__name {
  margin-top: auto;
  font-family: $font-title;
  font-size: $apx-32;
  line-height: $apx-46;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  @include mobile {
    font-size: $apx-m-24;
    line-height: $apx-m-35;
  }
}
.c-category__link {
  margin-top: $apx-18;
  font-size: $apx-15;
  line-height: $apx-17;
  color: color.adjust($color-white, $alpha: -0.5);
  text-decoration: none;
  @include mobile {
    margin-top: $apx-m-15;
    font-size: $apx-m-12;
    line-height: $apx-m-14;
  }
}
.circle {
  position: absolute;
  z-index: -1;
  display: grid;
  place-items: center;
  width: $apx-295;
  height: $apx-295;
  border-radius: 50%;
  opacity: 0.5;
  &::after {
    content: "";
    display: block;
    width: $apx-250;
    height: $apx-250;
    background: $color-black;
    border-radius: 50%;
  }
  @include mobile {
    width: $apx-m-235;
    height: $apx-m-235;
    &::after {
      width: $apx-m-210;
      height: $apx-m-210;
    }
  }
}
.circle-green {
  background: $gradient-circle-green;
  transform: rotate(90deg);
  animation-name: circle-a;
  animation-duration: 38s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @include mobile {
    animation-name: circle-a-mobile;
  }
}
.circle-blue {
  animation-name: circle-b;
  animation-duration: 46s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circle-pink {
  animation-name: circle-c;
  animation-duration: 52s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle-a {
  0% {
    top: -$apx-150;
    left: $apx-250;
  }
  20% {
    top: $apx-250;
    left: $apx-150;
  }
  40% {
    top: -$apx-120;
    left: $apx-250;
  }
  60% {
    top: $apx-100;
    left: $apx-350;
  }
  70% {
    top: $apx-230;
    left: $apx-100;
  }
  100% {
    top: -$apx-150;
    left: $apx-250;
  }
}

@keyframes circle-a-mobile {
  0% {
    top: -$apx-m-150;
    left: $apx-m-250;
  }
  20% {
    top: $apx-m-250;
    left: $apx-m-150;
  }
  40% {
    top: -$apx-m-120;
    left: $apx-m-250;
  }
  60% {
    top: $apx-m-100;
    left: $apx-m-350;
  }
  70% {
    top: $apx-m-230;
    left: $apx-m-100;
  }
  100% {
    top: -$apx-m-150;
    left: $apx-m-250;
  }
}

@keyframes circle-b {
  0% {
    top: $apx-150;
    left: $apx-100;
  }
  20% {
    top: -$apx-150;
    left: $apx-250;
  }
  40% {
    top: -$apx-100;
    left: $apx-300;
  }
  60% {
    top: $apx-150;
    left: $apx-100;
  }
  70% {
    top: -$apx-150;
    left: -$apx-150;
  }
  100% {
    top: $apx-150;
    left: $apx-100;
  }
}

@keyframes circle-c {
  0% {
    top: -$apx-150;
    left: -$apx-150;
  }
  20% {
    top: $apx-250;
    left: $apx-50;
  }
  40% {
    top: -$apx-120;
    left: $apx-250;
  }
  60% {
    top: $apx-100;
    left: $apx-350;
  }
  70% {
    top: $apx-230;
    left: $apx-100;
  }
  100% {
    top: -$apx-150;
    left: -$apx-150;
  }
}
