.c-category {
  position: relative;
  display: flex;
  flex-direction: column;
  height: $apx-370;
  padding: $apx-18;
  overflow: hidden;
  font-family: $font-default;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  text-transform: uppercase;
  border: $apx-1 solid $color-white;
  border-radius: $apx-18;
  &[hidden] {
    display: none;
  }
  &:hover,
  &:focus-visible {
    .gradient {
      translate: -50% -50%;
    }
    .ring {
      opacity: 0;
    }
    .c-category__link {
      color: color.adjust($color-white, $alpha: -0.2);
    }
  }
  @include mobile {
    height: $apx-m-295;
    padding: $apx-m-15;
    border-width: $apx-m-1;
    border-radius: $apx-m-15;
  }
}
.c-category__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-category__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: $apx-16;
  line-height: $apx-19;
  svg {
    display: block;
    flex-shrink: 0;
    width: $apx-24;
    height: $apx-24;
  }
  @include mobile {
    font-size: $apx-m-13;
    line-height: $apx-m-15;
    svg {
      width: $apx-m-19;
      height: $apx-m-19;
    }
  }
}
.c-category__name {
  margin-top: auto;
  font-family: $font-title;
  font-size: $apx-32;
  line-height: $apx-46;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  @include mobile {
    font-size: $apx-m-24;
    line-height: $apx-m-35;
  }
}
.c-category__link {
  margin-top: $apx-18;
  font-size: $apx-15;
  line-height: $apx-17;
  color: color.adjust($color-white, $alpha: -0.5);
  text-decoration: none;
  transition: color 0.7s ease-in-out;
  @include mobile {
    margin-top: $apx-m-15;
    font-size: $apx-m-12;
    line-height: $apx-m-14;
  }
}
