.ring {
  position: absolute;
  z-index: -1;
  display: grid;
  place-items: center;
  width: $apx-295;
  height: $apx-295;
  border-radius: 50%;
  opacity: 0.3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mask: radial-gradient(circle $apx-126, transparent 100%, #ffffff 100%);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  @include mobile {
    width: $apx-m-236;
    height: $apx-m-236;
    mask: radial-gradient(circle $apx-m-102, transparent 100%, #ffffff 100%);
  }
}
.ring-pink-a {
  top: 50%;
  left: 50%;
  background: $gradient-pink;
  // transform: translate(-50%, -50%) rotate(135deg);
  rotate: -135deg;
  animation-name: ring-pink-a;
  animation-duration: 30s;
}
.ring-pink-b {
  top: 50%;
  left: 50%;
  background: $gradient-pink;
  // transform: translate(-50%, -50%) rotate(135deg);
  rotate: -135deg;
  animation-name: ring-pink-b;
  animation-duration: 10s;
}
.ring-pink-c {
  top: 50%;
  left: 50%;
  background: $gradient-pink;
  // transform: translate(-41%, -20%) rotate(135deg);
  transform: rotate(135deg);
  animation-name: ring-pink-c;
  animation-duration: 20s;
}
.ring-green-a {
  top: 50%;
  left: 50%;
  background: $gradient-green;
  // transform: translate(-2%, -21%) rotate(-45deg);
  rotate: -45deg;
  opacity: 0.5;
  animation-name: ring-green-a;
  animation-duration: 28s;
}
.ring-green-b {
  top: 50%;
  left: 50%;
  background: $gradient-green;
  // transform: translate(-50%, -50%) rotate(-45deg);
  rotate: -45deg;
  opacity: 0.5;
  animation-name: ring-green-b;
  animation-duration: 15s;
}
.ring-blue-a {
  top: 50%;
  left: 50%;
  width: $apx-318;
  height: $apx-318;
  background: $gradient-blue;
  // transform: translate(-1%, -81%) rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0.5;
  animation-name: ring-blue-a;
  animation-duration: 23s;
  mask: radial-gradient(circle $apx-139, transparent 100%, #ffffff 100%);
  @include mobile {
    width: $apx-m-236;
    height: $apx-m-236;
    mask: radial-gradient(circle $apx-m-102, transparent 100%, #ffffff 100%);
  }
}
.ring-blue-b {
  top: 50%;
  left: 50%;
  background: $gradient-blue;
  // transform: translate(-2%, -21%) rotate(-45deg);
  opacity: 0.5;
  rotate: -45deg;
  animation-name: ring-blue-b;
  animation-duration: 30s;
}

// анимация
@keyframes ring-pink-a {
  0% {
    translate: -50% -50%;
  }
  20% {
    translate: -110% -100%;
  }
  40% {
    translate: -80% 0%;
  }
  60% {
    translate: 30% -60%;
  }
  100% {
    translate: -50% -50%;
  }
}

@keyframes ring-pink-b {
  0% {
    translate: -40% -62%;
  }
  25% {
    translate: -32% -48%;
  }
  50% {
    translate: -40% -39%;
  }
  75% {
    translate: -68% -50%;
  }
  100% {
    translate: -40% -62%;
  }
}

@keyframes ring-pink-c {
  0% {
    translate: -41% -20%;
  }
  40% {
    translate: -28% 120%;
  }
  50% {
    translate: 200% 120%;
  }
  52% {
    translate: 200% -200%;
  }
  53% {
    translate: -70% -200%;
  }
  100% {
    translate: -41% -20%;
  }
}

@keyframes ring-green-a {
  0% {
    translate: -2% -21%;
  }
  20% {
    translate: -12% -10%;
  }
  40% {
    translate: -32% -16%;
  }
  60% {
    translate: -28% -22%;
  }
  80% {
    translate: -18% -30%;
  }
  100% {
    translate: -2% -21%;
  }
}

@keyframes ring-green-b {
  0% {
    translate: -50% -50%;
  }
  20% {
    translate: -20% -30%;
  }
  40% {
    translate: -55% 0%;
  }
  60% {
    translate: -70% -15%;
  }
  70% {
    translate: -60% -30%;
  }
  100% {
    translate: -50% -50%;
  }
}

@keyframes ring-blue-a {
  0% {
    translate: -1% -81%;
  }
  40% {
    translate: -20% -20%;
  }
  60% {
    translate: -60% -60%;
  }
  100% {
    translate: -1% -81%;
  }
}

@keyframes ring-blue-b {
  0% {
    translate: -2% -21%;
  }
  33% {
    translate: -45% -60%;
  }
  66% {
    translate: -90% 10%;
  }
  100% {
    translate: -2% -21%;
  }
}
