.tab-categories {
  position: relative;
}
.tab-categories__drop-btn {
  display: none;
  @include mobile {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: $apx-m-17 $apx-m-23;
    overflow: hidden;
    font-family: $font-default;
    font-size: $apx-m-18;
    line-height: $apx-m-22;
    font-weight: 400;
    text-align: left;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-black;
    border: $apx-m-1 solid $color-white;
    border-radius: $apx-m-40;
    cursor: pointer;
    svg {
      @include transition(transform);
      flex-shrink: 0;
      width: $apx-m-24;
      height: $apx-m-24;
    }
    &.actv {
      svg {
        transform: rotate(180deg);
      }
    }
    // drop bg gradient
    &[data-category-color-card="green"] {
      .tab-categories__drop-bg {
        background-image: $gradient-green;
      }
    }
    &[data-category-color-card="pink"] {
      .tab-categories__drop-bg {
        background-image: $gradient-pink;
      }
    }
    &[data-category-color-card="purple"] {
      .tab-categories__drop-bg {
        background-image: $gradient-purple;
      }
    }
    &[data-category-color-card="blue"] {
      .tab-categories__drop-bg {
        background-image: $gradient-blue;
      }
    }
  }
}
.tab-categories__drop-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: background-image 0.5s ease-in-out;
}
.tab-categories__menu {
  @include mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      height 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    &.open {
      opacity: 1;
    }
  }
}
.tab-categories__list {
  display: flex;
  align-items: center;
  gap: $apx-19;
  @include mobile {
    display: grid;
    gap: 0;
    padding-top: $apx-m-60;
    padding-bottom: $apx-m-16;
    background: color.adjust($color-black, $alpha: -0.2);
    border: $apx-m-1 solid $color-white;
    border-radius: $apx-m-30 $apx-m-30 $apx-m-40 $apx-m-40;
  }
}
.tab-categories__btn {
  position: relative;
  width: max-content;
  margin: 0;
  padding: $apx-22 $apx-40;
  overflow: hidden;
  font-family: $font-default;
  font-size: $apx-24;
  line-height: $apx-29;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  text-transform: uppercase;
  background-color: transparent;
  border: $apx-1 solid $color-white;
  border-radius: $apx-60;
  cursor: pointer;
  span {
    position: relative;
    z-index: 1;
  }
  &.actv {
    // &::after {
    //   content: none;
    // }
    &.ghost {
      color: $color-black;
      background: $color-white;
    }
    &.green {
      padding: $apx-24 $apx-42;
      background-image: $gradient-green;
      border: 0;
    }
    &.pink {
      padding: $apx-24 $apx-42;
      background-image: $gradient-pink;
      border: 0;
    }
    &.purple {
      padding: $apx-24 $apx-42;
      background-image: $gradient-purple;
      border: 0;
    }
    &.blue {
      padding: $apx-24 $apx-42;
      background-image: $gradient-blue;
      border: 0;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: $apx-33;
    height: 144px;
    opacity: 0;
    filter: blur(5px);
    transition:
      left 0.5s ease-in-out,
      rotate 0.5s ease-in-out;
    translate: -50% -50%;
  }
  &::before {
    left: -$apx-33;
    opacity: 0;
    rotate: 0deg;
  }
  &::after {
    left: calc(100% + $apx-33);
    opacity: 0.5;
    rotate: 20deg;
  }
  &:not(.actv):hover,
  &:not(.actv):focus-visible {
    &::before {
      left: 50%;
      opacity: 0.5;
      rotate: 41deg;
    }
    &::after {
      left: 50%;
      opacity: 0;
      rotate: 41deg;
    }
  }
  &.ghost {
    &::before,
    &::after {
      background-image: $gradient-ghost;
    }
  }
  &.green {
    &::before,
    &::after {
      background-image: $gradient-green;
    }
  }
  &.pink {
    &::before,
    &::after {
      background-image: $gradient-pink;
    }
  }
  &.purple {
    &::before,
    &::after {
      background-image: $gradient-purple;
    }
  }
  &.blue {
    &::before,
    &::after {
      background-image: $gradient-blue;
    }
    &::after {
      opacity: 0.7;
    }
    &:not(.actv):hover,
    &:not(.actv):focus-visible {
      &::before {
        opacity: 0.7;
      }
      &::after {
        opacity: 0;
      }
    }
  }
  @include mobile {
    width: 100%;
    padding: $apx-m-20 $apx-m-24;
    font-size: $apx-m-18;
    line-height: $apx-m-21;
    border: 0;
    border-radius: 0;
    &.actv {
      display: none;
    }
    &::before,
    &::after {
      content: none;
    }
  }
}
