.f-field-betboom {
  // @include transition(color, border-color);
  padding: $apx-6 $apx-12;
  font-family: $font-default-betboom;
  background-color: $color-bg-field;
  border-radius: $apx-6;
  @include mobile {
    padding: $apx-m-6 $apx-m-12;
    border-radius: $apx-m-6;
  }
}
.f-field-betboom__label {
  display: block;
  font-family: inherit;
  font-size: $apx-12;
  line-height: $apx-16;
  font-weight: 400;
  text-align: left;
  color: $color-text-field;
  @include mobile {
    font-size: $apx-m-12;
    line-height: $apx-m-16;
  }
}
.f-field-betboom__field {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: $apx-14;
  line-height: $apx-20;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
  &::placeholder {
    font: inherit;
    color: $color-text-field-fade;
  }
  &::-webkit-credentials-auto-fill-button {
    // for hidden key icon in safari
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  &[type="number"]::-webkit-outer-spin-button, // webkit
  &[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
  &[type="number"] {
    // firefox
    appearance: textfield;
  }
  @include mobile {
    font-size: $apx-m-14;
    line-height: $apx-m-20;
  }
}
