-
  let nominationsData = [
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Блогер <br> года',
      color: 'purple',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Прорыв/ <br> открытие года',
      color: 'pink',
      animation: 'ring-pink-a',
      link: '/discovery-year-page.html'
    },
    {
      idCategory: '3',
      category: 'категория 3',
      color: 'green',
      name: 'Стример <br> года'
    },
    {
      idCategory: '3',
      category: 'категория 3',
      color: 'blue',
      name: 'Бьюти <br> блогер года'
    },
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Блогер <br> года',
      color: 'pink',
      animation: 'ring-pink-b',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Прорыв/ <br> открытие года',
      color: 'green',
      animation: 'ring-green-a',
      link: '/discovery-year-page.html'
    },
    {
      idCategory: '4',
      category: 'категория 4',
      name: 'Стример <br> года',
      color: 'blue',
      animation: 'ring-blue-a',
    },
    {
      idCategory: '2',
      category: 'категория 2',
      name: 'Бьюти <br> блогер',
      color: 'purple',
      gradient: 'gradient-purple',
    },
    {
      idCategory: '3',
      category: 'категория 3',
      name: 'Журналист <br> блогер года',
      color: 'pink',
      animation: 'ring-pink-c',
    },
    {
      idCategory: '2',
      category: 'категория 2',
      name: 'Блогерский <br> хит',
      color: 'green',
      animation: 'ring-green-b',
    },
    {
      idCategory: '4',
      category: 'категория 4',
      name: 'Тревел <br> блогер года',
      color: 'blue',
      animation: 'ring-blue-b',
    },
    {
      idCategory: '4',
      category: 'категория 4',
      name: 'Бьюти <br> блогер года',
      color: 'purple',
    },
    {
      idCategory: '3',
      category: 'категория 3',
      name: 'Просветитель <br> года',
      color: 'blue',
    },
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Самый <br> креативный <br> коммерческий <br> проект года',
      color: 'green',
      link: '/creative-project-year-page.html'
    },
    {
      idCategory: '3',
      category: 'категория 3',
      color: 'purple',
      name: 'Коллаборация <br> года'
    },
    {
      idCategory: '2',
      category: 'категория 2',
      name: 'Бьюти <br> блогер года',
      color: 'pink',
      gradient: 'gradient-pink',
    },
    {
      idCategory: '2',
      category: 'категория 2',
      color: 'blue',
      name: 'Добро <br> года'
    },
    {
      idCategory: '4',
      category: 'категория 4',
      name: 'Семейный <br> блогер года',
      color: 'pink',
    },
    {
      idCategory: '1',
      category: 'категория 1',
      name: 'Лучший <br> детский блогер <br> года',
      color: 'green',
      link: '/child-blogger-page.html'
    }
  ]
