-
  let nominationsData = [
    {
      idCategory: '1',
      category: 'Прайм',
      name: 'Блогер <br> года',
      color: 'green',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '2',
      category: 'Искра',
      name: 'Фут-блогер',
      color: 'pink',
      animation: 'ring-pink-a',
      link: '/creative-project-year-page.html'
    },
    {
      idCategory: '1',
      category: 'Прайм',
      name: 'Стример <br> года',
      color: 'green',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '3',
      category: 'Дива',
      name: 'Бьюти <br> блогер года',
      color: 'purple',
      link: '/beauty-blogger-page.html'
    },
    {
      idCategory: '2',
      category: 'Искра',
      name: 'Семейный <br> блогер года',
      color: 'pink',
      animation: 'ring-pink-b',
      link: '/creative-project-year-page.html'
    },
    {
      idCategory: '1',
      category: 'Прайм',
      name: 'Прорыв/ <br> открытие года',
      color: 'green',
      animation: 'ring-green-a',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '4',
      category: 'Успех',
      name: 'Стример <br> года',
      color: 'blue',
      animation: 'ring-blue-a',
      link: '/child-blogger-page.html'
    },
    {
      idCategory: '3',
      category: 'Дива',
      name: 'Добро <br> года',
      color: 'purple',
      animation: 'ring-purple-a',
      link: '/beauty-blogger-page.html'
    },
    {
      idCategory: '2',
      category: 'Искра',
      name: 'Журналист <br> блогер года',
      color: 'pink',
      animation: 'ring-pink-c',
      link: '/creative-project-year-page.html'
    },
    {
      idCategory: '1',
      category: 'Прайм',
      name: 'Блогерский <br> хит',
      color: 'green',
      animation: 'ring-green-b',
      link: '/best-blogger-year-page.html'
    },
    {
      idCategory: '4',
      category: 'Успех',
      name: 'Тревел <br> блогер года',
      color: 'blue',
      animation: 'ring-blue-b',
      link: '/child-blogger-page.html'
    },
    {
      idCategory: '4',
      category: 'Успех',
      name: 'Просветитель <br> года',
      color: 'blue',
      link: '/child-blogger-page.html'
    },
    {
      idCategory: '2',
      category: 'Искра',
      name: 'Самый <br> креативный <br> коммерческий <br> проект года',
      color: 'pink',
      link: '/creative-project-year-page.html'
    },
    {
      idCategory: '3',
      category: 'Дива',
      name: 'Коллаборация <br> года',
      color: 'purple',
      link: '/beauty-blogger-page.html'
    },
    {
      idCategory: '4',
      category: 'Успех',
      name: 'Лучший <br> детский блогер <br> года',
      color: 'blue',
      link: '/child-blogger-page.html'
    }
  ]
