-
  let socialData = [
    {
      name: "vk",
      icon: "icon-share-vk",
      link: "https://vk.com/blogema",
      label: "группа во вконтакте"
    },
    {
      name: "telegram",
      icon: "icon-share-telegram",
      link: "https://t.me/blogema_awards",
      label: "канал в телеграмме"
    },
  ]
