-
  let winnersCategoryData = [
    {
      name: "прорыв/открытие года",
      color: "pink",
      ring: "ring-pink-a",
    },
    {
      name: "стример года",
      color: "green",
      ring: "ring-green-a",
    },
    {
      name: "бьюти блогер года",
      color: "purple",
      ring: "ring-purple-a",
    },
    {
      name: "Самый креативный коммерческий проект года",
      color: "blue",
      ring: "ring-blue-a",
    },
    {
      name: "просветитель года",
      color: "pink",
      ring: "ring-pink-b",
    },
    {
      name: "коллаборация года",
      color: "blue",
      ring: "ring-blue-b",
    },
  ]
