-
  let winnersCategoryData = [
    "прорыв/открытие года",
    "стример года",
    "бьюти блогер года",
    "Самый креативный коммерческий проект года",
    "просветитель года",
    "коллаборация года",
  ]
