mixin accordion({ title })
  .accordion.js-accordion
    button.accordion__btn.js-accordion-btn
      =title
      .accordion__icon
    .accordion__content.js-accordion-content
      .accordion__body
        p С 8 по 20 октября идет принем заявок на сайте.
        p С 20 по 22 октября Экспертный комитет отбирает проекты в шорт-лист номинации.
        p С 22 октября по 7 ноября Жюри отбирает победителей номинации.
