include ../elements/images

mixin block-header({ className })
  header.b-header.js-header(class=className)
    .b-header__content
      a.b-header__logo(href='/')
        +svg({ name: "logo-blogema-header", width: 88, height: 52 })
      nav.b-header__menu
        ul.b-header__list
          li
            a.b-header__link.js-link(href='#manifest') О премии
          li
            a.b-header__link.js-link(href='#categories') Номинации
          li
            a.b-header__link.js-link(href='#') Прямая трансляция
      button.b-header__burger.js-burger

