include ../components/btn-default

mixin block-hero({ className })
  section.b-hero(class=className)
    .b-hero__content
      //- .b-hero__contols
        +btn-default({
          text: "Номинации",
          color: 'ghost',
          className: 'b-hero__btn'
        })
        +btn-default({
          text: "Голосование",
          color: 'white',
          className: 'b-hero__btn'
        })
      .b-hero__info
        //- .b-hero__date
          div МОСКВА-СИТИ
          div 01.09 — 25.10
        .b-hero__slogan премия блогеров #[br] и инфлюенсеров
