include ../components/card-expert

mixin block-experts({ className, color })
  section.b-experts(class=className)
    include ../mocks/experts
    -
      let experts = [
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
        ...expertsMock,
      ]
    h2.b-experts__title Эксперты
    .splide.b-experts__slider.js-slider-experts
      .splide__track.b-experts__track
        .splide__list.b-experts__list
          each it in experts
            .splide__slide
              +card-expert({ it, color })
