mixin block-hero({ className })
  section.b-hero(class=className)
    .b-hero__content
      .b-hero__contols
        button.b-hero__btn Номинации
        button.b-hero__btn.white Голосование
      .b-hero__info
        .b-hero__date
          div МОСКВА-СИТИ
          div 01.09 — 25.10
        .b-hero__slogan премия блогеров #[br] и инфлюенсеров
