include ../components/btn-default
include ../elements/images

mixin social-sharing({})
  .social-sharing
    .social-sharing__dialog
      button.social-sharing__close(type="button" aria-label="Закрыть" )
        +svg({ name: "cross", width: 28, height: 28 })
      .social-sharing__text Расскажи друзьям о премии
      .social-sharing__container
        .ya-share2(data-curtain data-size="l" data-shape="round" data-services="vkontakte,twitter,telegram")

