mixin cookies({})
  .cookies.js-cookies
    .cookies__text Мы используем файлы cookie, чтобы обеспечить вам наилучший опыт использования нашего веб-сайта. Ознакомьтесь с #[a(href="#") политикой использования файлов cookie].
    button.cookies__btn.btn-default.white.js-cookies-btn Окей

