.f-checkbox {
  input:checked + .f-checkbox__label {
    color: $color-white;
  }
  input:checked + .f-checkbox__label svg {
    opacity: 1;
  }
}
.f-checkbox__label {
  @include transition(color);
  display: flex;
  align-items: flex-start;
  column-gap: $apx-23;
  font-family: $font-default;
  font-size: $apx-16;
  line-height: $apx-19;
  font-weight: 300;
  text-align: left;
  color: transparentize($color-white, 0.6);
  cursor: pointer;
  &:hover,
  &:focus-visible {
    color: transparentize($color-white, 0.2);
  }
  @include mobile {
    column-gap: $apx-m-10;
    font-size: $apx-m-16;
    line-height: $apx-m-19;
  }
}
.f-checkbox__icon {
  display: grid;
  flex-shrink: 0;
  place-items: center;
  width: $apx-19;
  height: $apx-19;
  border: $apx-1 solid $color-white;
  @include mobile {
    width: $apx-m-19;
    height: $apx-m-19;
    border-width: $apx-m-1;
  }
  svg {
    @include transition(opacity);
    display: block;
    width: $apx-16;
    height: $apx-16;
    opacity: 0;
    fill: $color-white;
    @include mobile {
      width: $apx-m-16;
      height: $apx-m-16;
    }
  }
}
