extends /elements/layout-page
include /components/block/block-backgroung
include /components/block/block-hero-category
include /components/block/block-bloggers
include /components/block/block-experts
include /components/block/block-sponsors
include /components/block/block-nominations
include /components/block/block-stages
include /components/yandex-captcha
include /components/social-sharing


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"
  - const heading = 'Бьюти <br> блогер'
  - const headingMobile = 'Бьюти <br> блогер'

block background
  +block-backgroung({
    img: "/img/beauty-blogger.jpg",
    imgMobile: "/img/beauty-blogger-mobile.jpg"
  })

block content
  +block-hero-category({ title: heading, titleMobile: headingMobile })
  +block-bloggers({ color: "purple" })
  +block-experts({ color: "purple" })
  +block-stages({})
  +block-nominations({})

block modal
  +yandex-captcha({})
  +social-sharing({})
