extends /elements/layout-betboom-page
include /components/betboom/block-backgroung-betboom
include /components/betboom/block-hero-betboom
include /components/betboom/block-application-betboom
include /components/betboom/block-faq-betboom
include /components/yandex-captcha


block data
  - title = "Блогерский ивент: специальная номинация"

block background
  +block-backgroung-betboom({ img: "/img/bg-betboom.jpg" })

block content
  +block-hero-betboom({})
  +block-application-betboom({})
  +block-faq-betboom({})

block modal
  +yandex-captcha({})
