extends ../elements/layout-page
include ../components/block-backgroung
include ../components/block-hero-category
include ../components/block-bloggers
include ../components/block-experts
include ../components/block-sponsors
include ../components/block-nominations
include ../components/block-stages
include ../components/yandex-captcha


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"
  - const heading = 'Лучший <br> детский блогер <br> года'
  - const headingMobile = 'Лучший <br> детский <br> блогер года'

block background
  +block-backgroung({
    img: "/img/hero-main-child-blogger.jpg",
    imgMobile: "/img/hero-main-mobile-child-blogger.jpg"
  })

block content
  +block-hero-category({ title: heading, titleMobile: headingMobile })
  +block-bloggers({ color: "blue" })
  +block-experts({ color: "blue" })
  +block-stages({})
  +block-nominations({})

block modal
  +yandex-captcha({})
