extends /elements/layout-page
include /components/block/block-backgroung
include /components/block/block-hero-category
include /components/block/block-bloggers
include /components/block/block-experts
include /components/block/block-sponsors
include /components/block/block-nominations
include /components/block/block-stages
include /components/yandex-captcha
include /components/social-sharing


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"
  - const heading = 'Самый <br> креативный <br> коммерческий <br> проект года'
  - const headingMobile = 'Самый <br> креативный <br> коммерчес- <br> кий проект года'

block background
  +block-backgroung({
    img: "/img/hero-main-creative-project-year.jpg",
    imgMobile: "/img/hero-main-creative-project-year-mobile.jpg"
  })

block content
  +block-hero-category({ title: heading, titleMobile: headingMobile })
  +block-bloggers({ color: "green" })
  +block-experts({ color: "green" })
  +block-stages({})
  +block-nominations({})

block modal
  +yandex-captcha({})
  +social-sharing({})
