extends ../elements/layout-page
include ../components/block-backgroung
include ../components/block-hero-category
include ../components/block-bloggers
include ../components/block-experts
include ../components/block-sponsors
include ../components/block-nominations
include ../components/block-stages


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"
  - const heading = 'Самый <br> креативный <br> коммерческий <br> проект года'
  - const headingMobile = 'Самый <br> креативный <br> коммерчес- <br> кий проект года'

block background
  +block-backgroung({
    img: "/img/hero-main-creative-project-yea.jpg",
    imgMobile: "/img/hero-main-creative-project-year-mobile.jpg"
  })

block content
  +block-hero-category({ title: heading, titleMobile: headingMobile })
  +block-bloggers({ color: "green" })
  +block-experts({ color: "green" })
  +block-stages({})
  +block-nominations({})

block modal
