extends /elements/layout-page
include /components/block/block-backgroung
include /components/block/block-hero
include /components/block/block-sponsors
include /components/block/block-nominations
include /components/block/block-manifest
include /components/block/block-stages


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"

block background
  +block-backgroung({
    img: "/img/hero-main.jpg",
    imgMobile: "/img/hero-main-mobile.jpg"
  })

block content
  +block-hero({})
  +block-sponsors({})
  +block-manifest({})
  +block-nominations({})
  +block-stages({})

block modal
