extends /elements/layout-page
include /components/block/block-backgroung
include /components/block/block-hero-category
include /components/block/block-application
include /components/block/block-faq
include /components/yandex-captcha
include /components/social-sharing


block data
  - title = "Блогема. Премия блогеров и инфлюенсоров"
  - const heading = "Лучшая рекламная <br> кампания с блогерами"
  - const headingMobile = "Лучшая рекламная кампания с блогерами"
  - const subtitle = "Описание"
  - const text = "Номинация призвана отметить креативные проекты продвижения брендов с интеграцией блогеров, вызвавшие обсуждение маркетингового сообщества в 2024 году. Это могут быть нестандартные рекламные решения, уникальные способы бренд-активаций, вирусная реклама и т.д."

block background
  +block-backgroung({
    img: "/img/submit-application.jpg",
    imgMobile: ""
  })

block content
  +block-hero-category({
    title: heading,
    titleMobile: headingMobile,
    subtitle: subtitle,
    text: text
  })
  +block-application({})
  +block-faq({})

block modal
  +yandex-captcha({})
  +social-sharing({})
