-
  let bloggersMock = [
    {
      id: '1',
      name: 'ИВАН ИВАНОВ ИВАНОВИЧ',
      vote: 137,
      image: '/img/blogger.jpg'
    },
    {
      id: '2',
      name: 'КОНСТАНТИН КОНСТАНТИНОПОВСКИЙ',
      vote: 404,
      image: '/img/blogger.jpg'
    },
    {
      id: '3',
      name: 'Wylsacom',
      vote: 543,
      image: '/img/blogger.jpg'
    },
    {
      id: '4',
      name: '@LapenkoAnton',
      vote: 42,
      image: '/img/blogger.jpg'
    },
    {
      id: '5',
      name: 'ИВАН ИВАНОВ ИВАНОВИЧ',
      vote: 137,
      image: '/img/blogger.jpg'
    },
    {
      id: '6',
      name: 'КОНСТАНТИН КОНСТАНТИНОПОВСКИЙ',
      vote: 404,
      image: '/img/blogger.jpg'
    },
    {
      id: '7',
      name: 'Wylsacom',
      vote: 543,
      image: '/img/blogger.jpg'
    },
    {
      id: '8',
      name: '@LapenkoAnton',
      vote: 42,
      image: '/img/blogger.jpg'
    }
  ]
