$color-gray-918: #eaeaea; // hsl(0, 0%, 91.8%)
$color-gray-816: #d0d0d0; // hsl(0, 0%, 81.6%)
$color-gray-094: #181818; // hsl(0, 0%, 09.4%)
$color-gray-004: #010101; // hsl(0, 0%, 00.4%)

$color-white: #ffffff;
$color-black: #000000;

$color-black-gray: #212529;
$color-black-modal: #313036;
$color-error: #ff4242;

// betboom
$color-bg-body: #010101;
$color-bg-card: #121212;
$color-bg-field: #212121;
$color-bg-btn: #f8e800;
$color-text-accent: #f8e800;
$color-text-field: #cccccc;
$color-text-field-fade: #71717a;

// gradient
$gradient-pink: linear-gradient(90deg, #ed90c8 0%, #ffaf88 100%);
$gradient-green: linear-gradient(90deg, #6bc59b 0%, #394058 100%);
$gradient-purple: linear-gradient(90deg, #b882f3 0%, #4c4482 100%);
$gradient-blue: linear-gradient(90deg, #1e3ed7 0%, #02061b 100%);
$gradient-ghost: linear-gradient(
  150.76deg,
  #81aac5 32.48%,
  #3b3740 69.76%,
  #000000 108.57%
);
$white-gradiend: linear-gradient(
  150.76deg,
  #81aac5 32.48%,
  #3b3740 69.76%,
  #000000 108.57%
);
$gradient-circle-green: linear-gradient(90deg, #38425b 0%, #42c797 100%);
