@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url("../fonts/roboto-v32-cyrillic_latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-v32-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-v32-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "KazukiReiwa";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url("../fonts/KazukiReiwa-Regular.woff2") format("woff2");
}
