// fonts
$font-default: "Roboto", sans-serif;
$font-title: "KazukiReiwa", serif;
$font-default-betboom: "Lato", sans-serif;
$font-title-betboom: "Giorgio Sans LCG", sans-serif;
$font-additional-betboom: "Gilroy", sans-serif;

// breckpoints
$mobile-width: 1024px;

// container paddings
$padding: $apx-108;
$padding-mobile: $apx-m-24;
